name: Github Actions Demo 2.0

run-name: ${{ github.actor }} is testing out GithubActions 2.0

on: [push]

jobs:
  Explore-Github-Actions-2:
    runs-on: ubuntu-latest
    steps:
      - run: echo "The job was automatically trigged by a ${{github.event_name}} event"
      - run: echo "This job is now running on a ${{runner.os}} server hosted by Github"
      - run: echo "this name of your branch is ${{github.ref}} and your repo is ${{github.repository}}."
      - name: Check out repository code
        uses: actions/checkout@v4
      - run: echo "The ${{github.repository}} repository has been cloned to the runner."
      - run: echo "the workflow is now ready to test your code on the runner."
      - name: List files in the repository
        run: |
          ls ${{github.workspace}}
      - run: echo "This job's status is ${{job.status}}"
      - run: echo "skip"
  Second-Job2:
    runs-on: ubuntu-latest
    steps:
      - run: echo "The job was automatically trigged by a ${{github.event_name}} event"
      - run: echo "This job is now running on a ${{runner.os}} server hosted by Github"
      - run: echo "this name of your branch is ${{github.ref}} and your repo is ${{github.repository}}."
